<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <payxpert>
                <title>Credit cards with PayXpert</title>
                <active>1</active>
                <seamless_payment>0</seamless_payment>
                <przelewy24>0</przelewy24>
                <ideal>0</ideal>
                <wechat>0</wechat>
                <giropay>0</giropay>
                <sofort>0</sofort>
                <alipay>0</alipay>
                <model>Payxpert\Connect2Pay\Model\Payment\Payxpert</model>
                <order_status>pending</order_status>
                <allowspecific>0</allowspecific>
            </payxpert>
        </payment>
    </default>
</config>
