<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\App\Request\CsrfValidator">
        <plugin name="csrf_validator_skip" type="Payxpert\Connect2Pay\Plugin\CsrfValidatorSkip" />
    </type>
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="payxpert_config_provider" xsi:type="object">Payxpert\Connect2Pay\Model\ConfigGateway</item>
            </argument>
        </arguments>
    </type>
    <type name="Payxpert\Connect2Pay\Controller\Redirect\Payxpert">
        <arguments>
            <argument name="bankTransferPaymentNetworks" xsi:type="array">
                <item name="sofort" xsi:type="string">sofort</item>
                <item name="przelewy24" xsi:type="string">przelewy24</item>
                <item name="ideal" xsi:type="string">ideal</item>
                <item name="giropay" xsi:type="string">giropay</item>
                <item name="eps" xsi:type="string">eps</item>
                <item name="poli" xsi:type="string">poli</item>
                <item name="dragonpay" xsi:type="string">dragonpay</item>
            </argument>
        </arguments>
    </type>
</config>
