<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>
    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="cc-selector">
            <input id="creditCard" type="radio" value="CreditCard" data-bind="visible: creditCard, enable: creditCard, checked: isCheckedPaymentMethod" />
            <label class="drinkcard-cc" for="creditCard" data-bind="text: $t('Pay by CreditCard'), visible: creditCard, style: { backgroundImage: 'url(\'' + creditCardPayImageUrl + '\')' }">
            </label>

            <input id="sofort" type="radio" value="sofort" data-bind="visible: sofort, enable: sofort, checked: isCheckedPaymentMethod" />
            <label class="drinkcard-cc" for="sofort" data-bind="text: $t('Pay by Bank Transfer via Sofort'), visible: sofort, style: { backgroundImage: 'url(\'' + sofortImageUrl + '\')' }">
            </label>

            <input id="przelewy24" type="radio" value="przelewy24" data-bind="visible: przelewy24, enable: przelewy24, checked: isCheckedPaymentMethod" />
            <label class="drinkcard-cc" for="przelewy24" data-bind="text: $t('Pay by Bank Transfer via Przelewy24'), visible: przelewy24, style: { backgroundImage: 'url(\'' + przelewy24ImageUrl + '\')' }">
            </label>

            <input id="ideal" type="radio" value="ideal" data-bind="visible: ideal, enable: ideal, checked: isCheckedPaymentMethod" />
            <label class="drinkcard-cc" for="ideal" data-bind="text: $t('Pay by Bank Transfer via iDeal'),  visible: ideal, style: { backgroundImage: 'url(\'' + idealImageUrl + '\')' }">
            </label>

            <input id="giropay" type="radio" value="giropay" data-bind="visible: giropay, enable: giropay, checked: isCheckedPaymentMethod" />
            <label class="drinkcard-cc" for="giropay" data-bind="text: $t('Pay by Bank Transfer via Giropay'), visible: giropay, style: { backgroundImage: 'url(\'' + giroPayImageUrl + '\')' }">
            </label>

            <input id="aliPay" type="radio" value="Alipay" data-bind="visible: aliPay, enable: aliPay, checked: isCheckedPaymentMethod"  />
            <label class="drinkcard-cc" for="aliPay" data-bind="text: $t('Pay by AliPay'), visible: aliPay, style: { backgroundImage: 'url(\'' + aliPayImageUrl + '\')' }">

            </label>

            <input id="weChat" type="radio" value="WeChat" data-bind="visible: weChat, enable: weChat, checked: isCheckedPaymentMethod"  />
            <label class="drinkcard-cc" for="weChat" data-bind="text: $t('Pay by WeChat'), visible: weChat, style: { backgroundImage: 'url(\'' + weChatImageUrl + '\')' }">
            </label>

        </div>
        <style>
            .cc-selector input{
                margin:0;padding:0;
                -webkit-appearance:none;
                -moz-appearance:none;
                appearance:none;
            }

            .cc-selector input:active +.drinkcard-cc{opacity: .9;}
            .cc-selector input:checked +.drinkcard-cc{
                -webkit-filter: none;
                filter: none;
                border-color: darkseagreen;
            }
            .drinkcard-cc {
                font-weight: bold;
                border-radius: 5px;
                padding: 3px;
                text-align: center;
                line-height: 460%;
                display: block;
                border: 2px solid gainsboro;
                cursor: pointer;
                background-size: contain;
                background-repeat: no-repeat;
                height: 70px;
                -webkit-transition: all 100ms ease-in;
                -moz-transition: all 100ms ease-in;
                transition: all 100ms ease-in;

                background-origin: content-box;
                background-color: whitesmoke;
            }
            .drinkcard-cc:hover{
                border-color: cadetblue;
            }
        </style>
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: (getCode() == isChecked())
                        ">
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>


